header {
    text-align: center;
    background-color: var(--color-primary);
    border-radius: 4rem 4rem 0 0;
    padding:1rem;
}

header p {
    color: #fff;
    font-size: 1rem;
    opacity: 0.7;
    margin-top: -2rem;
}

header h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}